<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Subham Real Estate</title>
    <link rel="icon" type="image/x-icon" href="/static/R.jpg">
    <link rel="stylesheet" href="/static/customstyles.css">
</head>

<body>
    {% include 'header.html' %}
    <div class="form-container">
        <div class="form-body">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}" style="color: red;">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <form method="POST">
                <h2 class="form-heading">Register for this website</h2>
                <div class="mb-3">
                    <label for="username" class="form-label">Enter your username:</label>
                    <div class="input-group">
                        {{ form.username(class="form-control") }}
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address:</label>
                    <div class="input-group">
                        {{ form.email(class="form-control") }}
                    </div>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Enter new Password:</label>
                    <div class="input-group">
                        {{ form.password(class="form-control") }}
                    </div>
                </div>
                <div class="mb-3">
                    <label for="repassword" class "form-label">Re-enter your new Password:</label>
                    <div class="input-group">
                        {{ form.re_password(class="form-control") }}
                    </div>
                </div>
                <div class="mb-3">
                    <label for="age" class="form-label">Enter your age:</label>
                    <div class="input-group">
                        {{ form.age(class="form-control") }}
                    </div>
                </div>
                <div>{{ form.submit(class="btn btn-primary") }}</div>
            </form>
        </div>
    </div>

    {% include 'footer.html' %}
</body>

</html>